.h-100vh {
    height: 100vh;
}

.w-100vw {
    width: 100vw;
}

#app {
    @extend .h-100vh;
    @extend .w-100vw;
}

.cursor-pointer {
    cursor: pointer;
}

.container-svg {
    @extend .d-flex;

    img {
        filter: opacity(0.2);
        margin: auto;
        width: 26px;
        height: 26px;
    }
}

.layout {
    &-internal {
        @extend .h-100vh;
        @extend .w-100vw;
        @extend .d-flex;
        @extend .flex-column;

        &-content {
            max-height: 100%;
            overflow-y: auto;
        }
    }
}

.my_hover {
  transition: 0.2s;
  &:hover {
        transform: rotate(4deg) scale(1.05);
    }
}