/* .brand {
    font-weight: 500;
    font-family: sans-serif;
    color: var(--dark);
    font-weight: bold;
}
.btnSing {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.15rem;
    display: flex;
    padding: 0.5rem;
} */
